@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #454545;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#selectSideMenu {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-60%, -50%);
}
#selectSideMenu p {
  font-size: 18px;
  color: #838383;
  font-weight: 400;
}

.guideDisabled {
  background: white !important;
}
.guideDisabled:hover {
  cursor: default !important;
}
.guideDisabled p {
  color: #BFBFBF !important;
}

.guideActive:hover {
  cursor: pointer !important;
  background-color: #f4f4f4 !important;
}
.guideActive p {
  color: #454545 !important;
}

#steps .step-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 1000;
  display: none;
}
#steps .step-highlight {
  position: absolute;
  border: 3px solid rgb(255, 172, 47);
  border-radius: 10px;
  background: none;
  z-index: 1001;
  display: none;
  pointer-events: none;
}
#steps .step-tooltip {
  position: absolute;
  width: 400px;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1002;
  display: none;
  margin: 5px;
  padding: 5px 10px;
}
#steps .step-tooltip .stepBtn {
  text-align: center;
  border: 1px solid #454545;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
#steps .step-tooltip .stepBtn:hover {
  cursor: pointer;
  background: #f4f4f4;
}

#sidebar2 {
  display: none;
  min-width: 50px;
  height: 100vh;
  overflow-y: visible;
  overflow-x: hidden;
  border-right: 1px solid #BFBFBF;
}
#sidebar2 .title .iconOpened {
  width: 18px;
  color: #838383;
  margin: 5px;
  padding: 10px;
}
#sidebar2 .title .iconOpened:hover {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  animation: hoverAnimation 0.2s ease-in-out forwards;
}
@keyframes hoverAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #f4f4f4;
  }
}

.sidebar {
  min-width: 250px;
  height: 100vh;
  overflow-y: visible;
  overflow-x: hidden;
  border-right: 1px solid #BFBFBF;
}
.sidebar .title {
  position: sticky;
  top: 0;
  background: white;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 10px;
  width: 100%;
  height: 26px;
}
.sidebar .title img {
  height: 100%;
}
.sidebar .title p {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}
.sidebar .title .iconFold {
  position: absolute;
  width: 18px;
  right: 25px;
  color: #838383;
  padding: 5px;
}
.sidebar .title .iconFold:hover {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  animation: hoverAnimation 0.2s ease-in-out forwards;
}
@keyframes hoverAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #f4f4f4;
  }
}
.sidebar .allPosters {
  padding-top: 10px;
}
.sidebar .allPosters .poster {
  padding: 5px;
}
.sidebar .allPosters .poster .title {
  padding: 10px 0 5px 10px;
  margin: 0;
  font-weight: 600;
  color: #454545;
  box-shadow: none;
}
.sidebar .allPosters .poster ul li {
  padding: 5px 20px;
  margin: 0;
  border-radius: 5px;
  color: #454545;
}
.sidebar .allPosters .poster ul li:hover {
  cursor: pointer;
  background: #f4f4f4;
  transition: all 0.2s ease-in-out;
}
.sidebar .allPosters .poster ul li p {
  padding: 0;
  margin: 0;
}

.mainContent {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.mainContent .tag {
  opacity: 0.5;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 40px;
  background-color: #454545;
  border-radius: 20px;
  color: #fff;
}
.mainContent .resizer {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid #838383;
}
.mainContent .resizer .icon {
  cursor: pointer;
  background: #838383;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 5px solid #838383;
  padding: 10px;
  position: absolute;
}
.mainContent .resizer .icon:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.mainContent .resizer .icon svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainContent .artBoard {
  flex: 0 0 auto;
  background-color: #f4f4f4;
  width: 100%;
  height: auto;
}
.mainContent .artBoard .posterReview iframe {
  width: 100%;
  height: 100%;
}
.mainContent #bottomPanel {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  background: #ffffff;
  padding: 10px 20px;
  height: auto;
  min-height: 100px;
  position: relative;
}
.mainContent #bottomPanel .title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  position: sticky;
}
.mainContent #bottomPanel .description {
  font-weight: 300;
  padding-top: 0;
  margin: 0;
}
.mainContent #bottomPanel .formGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding-top: 20px;
}
.mainContent #bottomPanel .formGrid .inputBox {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
.mainContent #bottomPanel .formGrid .inputBox input {
  padding: 10px;
  background: #f4f4f4;
  border: transparent;
  border-radius: 5px;
  margin-top: 10px;
}
.mainContent #bottomPanel .formGrid .inputBox input:focus {
  outline: none;
}
.mainContent #bottomPanel .formGrid .inputBox textarea {
  padding: 10px;
  background: #f4f4f4;
  border: transparent;
  border-radius: 5px;
  margin-top: 10px;
}
.mainContent #bottomPanel .formGrid .inputBox textarea:focus {
  outline: none;
}

.btnGroup {
  padding: 40px 0;
}

.diver {
  border-bottom: 1px solid #E7E7E7;
  margin-top: 30px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.inputBox {
  flex: 1;
  min-width: 150px;
}

.label {
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f4f4f4;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.btnAddNewMember {
  cursor: pointer;
  background-color: #f4f4f4;
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #454545;
  padding: 12px 0;
  margin: 10px 0;
}
.btnAddNewMember:hover {
  background: #ebebeb;
}

.btnDefault {
  padding: 0px 50px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: #454545;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.btnDefault:hover {
  background: #333;
}

.btnOutlineDefault {
  padding: 0px 50px;
  height: 40px;
  border: 1px solid #454545;
  border-radius: 20px;
  background: #ffffff;
  color: #454545;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.btnOutlineDefault:hover {
  background: #f0f0f0;
}

.toaster-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 99;
}

.toaster {
  display: flex;
  align-items: center;
  opacity: 0.8;
  color: #fff;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-in;
}
.toaster.error {
  background-color: #e54958;
}
.toaster.info {
  background-color: #3294a3;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon {
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
}
.icon:hover {
  background: #f3f3f3;
}

.delete {
  color: rgb(165, 10, 10);
}

.inputBox #greeting {
  width: 100%;
  border: none;
}
.inputBox #greeting::outline {
  border: none;
}
.inputBox #greeting:focus {
  border: none;
  outline: none;
}

/*# sourceMappingURL=output.css.map */
